h1 {
    color:#000000;
    font-family: 'Neucha', cursive;
    font-size: 70px;
    padding:10px;
}

.container {
    background-color: #FFFFFF;
    margin-top: 50px;
}

.whitespace {
    background-color: #FFFFFF;
}

.content {
    background-color: #FFFFFF;
    margin-top: 60px;
}

.photo {
    background-color: #FFFFFF;
    margin-top:15px;
} 

#picture {
    width: auto;
    height: 250px;
    box-shadow: 0px 0px 50px 0px #CECECE;
}

img {
    border: 0px solid black;
}

body {
    background-color:#FFFFFF;
}

li {
    list-style-type: none;
    display: inline-block;
}

.icons {
    width: 50px;
    height: auto;
    margin-left: 15px;
}

.footer {
    background-color:white;
}

.linkedin:hover {
    margin-top: 1px
}

.github:hover {
    margin-top: 1px;
}

.facebook:hover {
    margin-top: 1px;
}

@media screen and (min-width: 0px) {
    body {
        background-color: #FFFFFF;
    }
    .header {
        background-color:white;
        height: 0px;
        width: 100%;
    }
    #picture {
        margin-left: 25px;
    }
}

@media screen and (min-width: 540px) {
    body {
        background-color: #FFFFFF;
    }
    .header {
        background-color:white;
        height: 0px;
        width: 100%;
    }
    #picture {
        margin-left: 120px;
    }
}

@media screen and (min-width: 720px) {
    body {
        background-color: #FFFFFF;
    }
    .header {
        background-color:white;
        height: 150px;
        width: 100%;
    }
    #picture {
        margin-left: 0px;
    }
}

@media screen and (min-width: 960px) {
    body {
        background-color: #FFFFFF;
    }
    .header {
        background-color:white;
        height: 150px;
        width: 100%;
    }
    #picture {
        margin-right: 0px;
    }
}

@media screen and (min-width: 1140px) {
    body {
        background-color: #FFFFFF;
    }
    .header {
        background-color:white;
        height: 150px;
        width: 100%;
    }
    .content {
        margin-left: 20px;
    }
}