h1 {
    color:#000000;
    font-family: 'Neucha', cursive;
    font-size: 70px;
    padding:0px;
}

.container {
    background-color: #FFFFFF;
    margin-top: 100px;
}

.whitespace {
    background-color: #FFFFFF;
}

.content {
    background-color: #FFFFFF;
    margin-top: 10px;
}

.photo {
    background-color: #FFFFFF;
    margin-top:15px;
} 

#picture {
    width: auto;
    height: 250px;
    box-shadow: 0px 0px 0px 0px #CECECE;
}

img {
    border: 0px solid black;
}

body {
    background-color:#FFFFFF;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    display: inline-block;
}

.icons {
    width: 60px;
    height: auto;
    margin-left:15px;
}

.footer {
    background-color:white;
}

.linkedin:hover {
    margin-top: 1px
}

.github:hover {
    margin-top: 1px;
}

.facebook:hover {
    margin-top: 1px;
}
