.header {
    background-color:white;
    height: 150px;
    width: 100%;
}

h1 {
    color:#000000;
    font-family: 'Neucha', cursive;
    font-size: 70px;
    padding:10px;
}

.container {
    background-color: #FFFFFF;
    margin-top: 50px;
}

.whitespace {
    background-color: #FFFFFF;
}

.content {
    background-color: #FFFFFF;
    margin-top: 60px;
}

.photo {
    background-color: #FFFFFF;
    margin-top:15px;
} 

.picture {
    width: auto;
    height: 250px;
}

body {
    background-color:#FFFFFF;
}

li {
    list-style-type: none;
    display: inline-block;
}

.icons {
    width: 50px;
    height: auto;
    margin-left: 15px;
}

.footer {
    background-color:white;
}

.linkedin:hover {
    margin-top: 1px
}

.github:hover {
    margin-top: 1px;
}

.facebook:hover {
    margin-top: 1px;
}